<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>
  <%= form_with model: [@client, @client.cars.build ] do |form| %>

    <%= form.label :licence_plate %>
    <%= form.text_field :licence_plate %>

    <%= form.submit %>

  <% end %>
</div>

<div>
  <%= link_to "Edit this client", edit_client_path(@client) %> 
</div>
