<p style="color: green"><%= notice %></p>

<div class="card">
    <div class="card-header">
        <h2><%= @client.name %></h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h4>Autos</h4>
                <% if @client.cars.count > 0 %>
                    <% @client.cars.each do |car| %>
                        <%= render car %>
                    <% end %>
                <% else %>
                    <p>No hay autos registrados</p>
                <% end %>
            </div>
            <div class="col">
                <h4>Direcciones</h4>
                <% if @client.addresses.count > 0 %>
                    <% @client.addresses.each_with_index do |address, index| %>
                        <%= render address %>
                    <% end %>
                <% else %>
                    <p>No hay direcciones registradas</p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                <div class="form">
                    <%= render "cars/form", car: @client.cars.build %>
                </div>
            </div>
            
            <div class="col">
                <div class="form">
                    <%= render "addresses/form", address: @client.addresses.build %>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
  <%= link_to "Edit this client", edit_client_path(@client) %> 
</div>
