<div id="<%= dom_id address %>" class="card m-2">
    <div class="card-body">
        <div>
            <%= address.street %> <%= address.number %>, <%= address.state %>, <%= address.city %>
        </div>
        <div><%= address.details %></div>
        <div class="form-actions">
            <%= button_to "Borrar", address, method: :delete, class:'btn btn-danger btn-block' %>
        </div>
    </div>
</div>
