<%= form_with model: [@user, @user.clients.find(@client.id), @user.clients.find(@client.id).cars.build] do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> no permitieron guardar el auto:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
      <%= form.label :licence_plate, "Patente" %>
      <%= form.text_field :licence_plate %>
  </div>
  
  <div class="form-actions">
      <%= form.submit "Agregar auto", class:'btn btn-primary btn-block'%>
  </div>
<% end %>
