<!DOCTYPE html>
<html>
  <head>
    <title>Revtec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="main">
    <div class="main-left">
      <h2>
        <%= link_to "Revisión al día", "/" %>
      </h2>
      <%= link_to "Agregar cliente", new_client_path%>
    </div>
    <div class="main-rigth">
      <%= yield %>
    </div>

  </div>
  </body>
</html>
