<!DOCTYPE html>
<html>
  <head>
    <title>Revtec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "application"%>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if current_user %>
              <li class="nav-item">
                <a class="nav-link" href="#"<%= current_user.id %>><%= current_user.email %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="login">Log in</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="sign_up">Sign up</a>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>

      <div class="main">
      <% if current_user %>
        <div class="main-left">
          <h2>
            <%= link_to "Revisión al día", "/" %>
          </h2>
          <%= link_to "Agregar cliente", new_client_path%>
        </div>
      <% end %>
        
        <div class="main-rigth">
          <%= yield %>
        </div>

      </div>
    </div>
  </body>
</html>
